.container h2 {
  text-align: center;
  margin: 25px auto;
}

.list {
  text-align: left;
  max-width: 750px;
  margin: auto;
}

.submit-form {
  max-width: 300px;
  margin: auto;
}

.edit-form {
  max-width: 300px;
  margin: auto;
}

body {
  width: 100vw;
  height: 100vh;
}
.containerWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.homePage {
  width: 100%;
  height: 65vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(./images/cypherbot.png);
  background-repeat: no-repeat;
  background-position: center;
}
.titlePage {
  font-size: 1.8em;
}

.codeNumberWrapper {
  width: 30vh;
  height: 20vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.codeNumber {
  font-size: 1.3em;
}
.spinner {
  background-color: blue;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
